@media(max-width:1000px){
    .title {
        font-size:35px;
    }
    .title1 {
        font-size:35px;
    }
}
@media(max-width:670px){
    .header-right a {
        display:none;
    }
    .main {
        text-align:left;
    }
    .menu-icon{
        display:block;
    }
    .btn {
        width:100%;
    }
    .containers {
        width:50%;
    }
    footer {
        text-align: center;
    }
    .title {
        font-size:15px;
    }
    .title1 {
        font-size:15px;
    }
    .main p {
        font-size:5px;
    }
}