* {
    font-family: sans-serif;
}
header {
    height: 80px;
    width: 100%;
    background-color: black;
    position:fixed;
    z-index: 0;
}
.header-left p {
    font-family: sans-serif;
    font-size: 40px;
    color:red;
    margin-top:15px;
}
.header-left {
    float:left;
}
.header-right {
    float:right;
}
.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:none;     
}
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.header-right a {
    font-size: 20px;
    color: white;
    line-height:80px;
    padding:0 20px;
    text-decoration: none;
    transition:all 0.5s;
    float:left;
} 
.main {
    width:100%;
    height:500px;
    padding-top:180px;
    padding-bottom:10px;
    color:white;
    background-image: url(logo/antmant.jpg);
    background-size:auto;
    text-align:left;
}
.btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    text-decoration: none;
    border-radius:4px;
}
.title {
    font-size:40px;
    margin-top:320px;
    line-height:1px
}
.btn:hover {
    opacity:1;
} 
.btn-watch {
    text-align:right;
    margin-top:-70px;
}
.title1 {
    font-size:40px;
    line-height:1px;
}
.main p {
    line-height:3px;
    padding-top:3px;
    color: rgb(247, 238, 238);
}
.watch {
    background-color: red;
    font-size:20px;
    margin-top:5px;
    margin-right:50px;
}
.body {
    height:800px;
    padding-bottom:80px;
    background-color:#fbfbfc;
}
.container {
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
.heading h2 {
    border-bottom:2px solid #dee7ec;
}
.containers {
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
.contents-item {
    float:left;
}
.form {
    background-color: #fcfafa;
    height:300px;
    width:100%;
}
footer {
    background-color:#080808;
    width:100%;
    height:150px;
    padding:15px 0px;
    text-align:center;
    line-height:10px;
    color:white;
}
footer h2, h3 {
    margin-top:25px;
}
footer li {
    list-style:none;
    padding-right:5px;
    padding-top:15px;
    font-size:20px;
    float:left;
    text-align:center;
    margin-left:120px;
    margin-bottom:50px;
}
.fa {
    margin-right:10px;
}
.clear {
    clear:left;
}